<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}" />
  <title>{% block title %}{% endblock %} - My Webpage</title>
  {% endblock %}
</head>
<body>
  <div class="content">
    {% block nav %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-lg">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 8em">
          <ul class="navbar-nav me-auto mx-auto"> <!-- Applied justify-content-center directly -->
            <li class="nav-item">
              <a class="nav-link {{ home_is_active }}" aria-current="page" href="/#"><button type="button" class="btn btn-outline-primary">Home</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ blog_is_active }}" href="/blog/posts"><button type="button" class="btn btn-outline-primary">Blog</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ projects_is_active }}" href="https://github.com/hydropero"><button type="button" class="btn btn-outline-primary">Projects</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ about_is_active }}" href="https://www.linkedin.com/in/myles-bulla/"><button type="button" class="btn btn-outline-primary">LinkedIn</button></a>
            </li>
          </ul>
        </div>
      </div>
      <span class="ml-auto" style="margin-right: 2.5em;">
        <a href=""><button type="button" class="btn btn-outline-primary">Myles Bulla</button></a>
      </span>
    </nav>
    {% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
  </div>
  <div id="footer">
    {% block footer %}
    <footer class="footer homepage_style">
      ‏‏‎ ‎ ‏‏‎ ‎&copy; Copyright 2023 by <a href="https://www.linkedin.com/in/myles-bulla/">Myles Bulla</a>
    </footer>
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='/js/navbar.js') }}"></script>
</body>

</html>