{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12"><br></div>           
                <div class="col-2"></div>
                {% autoescape false %}
                    <div class="col-8">
                        {% for blog_post in list_of_posts%}
                        <a href="{{ url_for('read_post', post_id=blog_post.id) }}">
                            <div class="card text-white bg-dark mb-3 hover_invert blue_out">
                                <div class="card-body">
                                    <div class="card-header header_styleless">
                                        {{ blog_post.post_title}}
                                    </div>
                                    <br>
                                    <div>
                                    <span class="description">{{ blog_post.post_content }} </span>
                                    </div>
                                    <div class="top_line" >
                                        <span class="timedate">{{ blog_post.create_date }}</span><br><span class="timedate">{{ blog_post.post_tags }}</span>
                                    </div>
                                </div>
                            </div>
                        </a>       
                        {% endfor %}
                    </div>
                {% endautoescape %}
                <div class="col-2"></div>
            </div>
        </div>
    </div>
{% endblock %}