{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12"><br></div>           
                <div class="col-2"></div>
                <div>
                    <p style="text-align: center;">Blog development in progress. Here's a picture of my homelab to tide you over till it's complete. </p>
                    <img src="https://github.com/hydropero/DevOpsFlasked/blob/main/DevOpsFlaskedSite/static/images/temp_images/IMG_9CBD067A7898-1-removebg-preview.png?raw=true" alt="graphic design is my passion">
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
{% endblock %}